defaultRules:
  create: true
  rules:
    etcd: false
    kubeScheduler: false

kubeScheduler:
  enabled: false

kubeEtcd:
  enabled: false

alertmanager:
  enabled: true

grafana:
  enabled: true
  adminPassword: {{ requiredEnv "GRAFANA_PASSWORD" }}
  ingress:
    ingressClassName: nginx
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    hosts:
      - {{ requiredEnv "MONITORING_HOST" }}
    tls:
    - secretName: grafana-general-tls
      hosts:
      - {{ requiredEnv "MONITORING_HOST" }}

crds:
  enabled: true
  upgradeJob:
    enabled: true

prometheusOperator:
  enabled: true

prometheus:
  enabled: true
  ingress:
    ingressClassName: nginx
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    hosts:
      - {{ requiredEnv "PROMETHEUS_HOST" }}
    tls:
    - secretName: prometheus-general-tls
      hosts:
      - {{ requiredEnv "PROMETHEUS_HOST" }}

  additionalServiceMonitors:
  - name: "vllm-monitor"
    selector:
      matchLabels:
        environment: test
        release: test
    namespaceSelector:
      matchNames:
      - default
      - vllm
    endpoints:
    - port: "service-port"
  - name: "router-monitor"
    selector:
      matchLabels:
        environment: router
        release: router
    namespaceSelector:
      matchNames:
      - default
      - vllm
    endpoints:
    - port: "router-sport"
