defaultRules:
  create: true
  rules:
    etcd: false
    kubeScheduler: false

kubeScheduler:
  enabled: false

kubeEtcd:
  enabled: false

alertmanager:
  enabled: true

grafana:
  enabled: true
  adminPassword: {{ requiredEnv "GRAFANA_PASSWORD" }}
  ingress:
    ingressClassName: nginx
    enabled: {{ if env "MONITORING_HOST" }}true{{ else }}false{{ end }}
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    {{ if env "MONITORING_HOST" }}
    hosts:
      - {{ env "MONITORING_HOST" }}
    tls:
    - secretName: grafana-general-tls
      hosts:
      - {{ env "MONITORING_HOST" }}
    {{ end }}

crds:
  enabled: true
  upgradeJob:
    enabled: true

prometheusOperator:
  enabled: true

prometheus:
  enabled: true
  ingress:
    ingressClassName: nginx
    enabled: {{ if env "PROMETHEUS_HOST" }}true{{ else }}false{{ end }}
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    {{ if env "PROMETHEUS_HOST" }}
    hosts:
      - {{ env "PROMETHEUS_HOST" }}
    tls:
    - secretName: prometheus-general-tls
      hosts:
      - {{ env "PROMETHEUS_HOST" }}
    {{ end }}

  additionalServiceMonitors:
  - name: "vllm-monitor"
    selector:
      matchLabels:
        environment: test
        release: test
    namespaceSelector:
      matchNames:
      - default
      - {{ env "VLLM_STACK_NAMESPACE" | default "vllm" }}
    endpoints:
    - port: "service-port"
  - name: "router-monitor"
    selector:
      matchLabels:
        environment: router
        release: router
    namespaceSelector:
      matchNames:
      - default
      - {{ env "VLLM_STACK_NAMESPACE" | default "vllm" }}
    endpoints:
    - port: "router-sport"
