routerSpec:
  ingress:
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
    enabled: {{ if env "INFERENCE_HOST" }}true{{ else }}false{{ end }}
    className: nginx
    {{ if env "INFERENCE_HOST" }}
    hosts:
    - host: {{ env "INFERENCE_HOST" }}
      paths:
      - path: /
        pathType: Prefix
    tls:
    - secretName: vllm-tls-cert
      hosts:
      - {{ env "INFERENCE_HOST" }}
    {{ end }}
servingEngineSpec:
  runtimeClassName: ""
  modelSpec:
  {{- $modelSpecFile := requiredEnv "MODEL_SPEC_FILE" }}
  {{- tpl (readFile $modelSpecFile) . | nindent 2 }}
